/* Colors */
$primary-color: #ffa41f;
$secondary-color: darken( $primary-color, 10% );

$icon-green: #28a745;
$icon-red: #cb2431;
$icon-purple: #6f42c1;

$line-color: #cdcdcd;

$fontColor333: #333;
$fontColor666: #666;
$fontColor999: #999;

$fontSizeSmall: 11px;
$fontSizeNormal: 13px;
$fontSizeBig: 15px;
$fontSizeLarge: 18px;